@import url(https://fonts.googleapis.com/css2?family=Special+Elite&display=swap);

:root {
  --text: #bababa;
  --background: #fff;
  --white: #ffffff;
  --black: #222;
  --grey: #999;
  --lightgrey: #b2b2b2;
  --pink: #f40099;
  --red: #c00;
  --yellow: #f5e43c;
  --green: #0c0;
  --blue: #00f7f7;
  --OGreen: #295539;
  --FMauve: #9575cd;
  --purple: #9575cd;
}

main{
  text-align: center;
}

.red{ color: var(--red)};
.orange{ color: var(--orange)};
.yellow{ color: var(--yellow)};
.green{ color: var(--green)};
.blue{ color: var(--blue)};
.pink{ color: var(--pink)};
.purple{ color: var(--purple)};

#logo{
  font-family: "Special Elite";
  font-size: 48px;
  text-align: center;
  color: var(--red);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h2{
  color: var(--OGreen);
}

main{
  max-width: 800px;
  margin: 0 auto;
  font-family: "Special Elite";
}

#word{
  text-align: center;
  font-size: 28px;
  font-family: "Special Elite";
  color: #646362;
}

#solution{
  text-align: center;
}

.letter{
  width: 32px;
  height: 32px;
  margin: 0 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Special Elite";
}

h1{
  font-family: "Special Elite";
}

p{
  text-align: center;
  color: #444;
  font-size: 18px;
}

table{
  border: collapse;
  border: silver 1px solid;
  margin: 1em auto;
  padding: 0.4em;
}

table input {
  font-size: 20px;
  width: 1.5em;
  text-align: center;
  text-transform: uppercase;
  height: 1.5em;
  margin: 0.1em;
  font-family: "Special Elite";
}

td{
  text-align: center;
  font-size: 32px;
}

button{
  display: block;
  margin: 1em auto;
  background: var(--FMauve);
  border: none;
  border-radius: 0.6em;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  width: 11em;
  color: white;
}

button:hover{
  background: var(--green);
  cursor: pointer;
}

#clues h1{
  text-align: center;
  font-size: 36px;
  color: #646362;
}

#instructions p{
  font-family: "Special Elite";
  max-width: 32em;
  margin: 1em auto;
}
